* {
    margin: 0;
    padding: 0;
    font-family: garamond, serif;
    font-size: 20px;
}

/* Nav bar styling */

nav {
    background: rgba(0, 128, 119);
    height: 10vh;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: white; 
    font-weight: bolder; 
    font-size: 36px;
    margin-left: 10px;
}

nav ul {
    text-align: right;
    display: inline;
    margin-right: 10px;
}

nav li {
    display: inline; 
    margin: 0 5px; 
    text-wrap: nowrap;
}

nav a {
    text-decoration: none;
    color: white; 
    font-size: 22px;
}

/* header image styling */

#header-image-container {
    width: 100%;
    height: 30vh;
    margin: 0;
}

#header-image {
    width: 100%;
    height: 100%;
}

#header-subtitle {
    position: absolute; 
    right: 10px;
    bottom: 100vh;
    background-color: rgba(0, 128, 119);
    color: white; 
    z-index: 2;
}

/* section styling  */

section {
    margin: 20px 0;
    
}

section > h2 {
    margin-left: 20px;
    font-size: 28px;
}

/* about me styling */
#about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#about-me p {
    width: 60%;
    margin-right: 20px;
    padding: 10px 0;
}

/* work section styling */
#work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#work-boxes {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 10px;
    height: 80vh;
}

#primary-project {
    width: 100%;
    min-height: 50px;
    border: 2px solid teal;
    height: 50%;
    margin-top: 0;
}

#primary-project img {
    width: 100%;
    height: 100%;
}

#primary-project h4 {
    position: relative;
    background-color: teal;
    color: white;
    bottom: 25px;
    display: inline;

}

#secondary-project {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
}

.box {
width: 50%;
height: 50%;
border: 1px solid teal;
}

.box img {
  width: 100%;
  height: 100%;
}

.box h4 {
    position: relative;
    background-color: teal;
    color: white;
    bottom: 25px;
    display: inline;
    margin: 0;
}

/* contact me section styling */

#contact-me {
    /* margin-top: 100px;
    margin-bottom: 50px; */
    padding: 50px 0; 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#contact-me ul {
    text-align: right;
    display: flex;
}

#contact-me li {
    display: inline; 
    margin: 0 20px; 
    text-wrap: nowrap;
}

@media screen and (max-width: 800px) {
body {
    justify-content: center;
}

#about-me {
    flex-direction: column;
    text-align: center;
}

#about-me p {
    margin: 0;
}

#work {
    flex-direction: column;
}

    #secondary-project {
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
    }

    #contact-me ul{
        flex-direction: column;
    }
}



